<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Cairo:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Shopping Cart</title>
</head>

<body>
    @model BulkyBook.Models.ViewModels.ShoppingCartVM
    <form method="post">
        <br />
        @if (Model.ListCart.Count() > 0)
        {
            <div class="shopping-cart">
                <div class="shopping-cart__header">
                    <div class="shopping-cart-header__number">
                        @Model.ListCart.Count() items in your cart
                    </div>
                    <a class="shopping-cart-header__keep-shopping">
                        Keep shopping
                    </a>
                </div>
                <div class="shopping-cart__main">
                    <div class="shopping-cart__item">
                        <!-- <div style="height: 1rem"></div> -->
                        <div class="shopping-cart__list-product">
                            @foreach (var item in Model.ListCart)
                            {
                            <div class="shopping-cart__product">
                                <div class="shopping-cart-product__item">
                                    <div class="shopping-cart-product__img">
                                        @if (item.Product.ImageUrl.Count >0)
                                        {
                                        <img src="@item.Product.ImageUrl[0].ImageUrl" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="shopping-cart-product__item">
                                    <div class="shopping-cart-product__title">
                                        @item.Product.Title
                                    </div>
                                    <div class="shopping-cart-product__desc">
                                        @item.Product.Description
                                    </div>
                                    <div class="shopping-cart-product__remove">
                                        <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-outline-danger">
                                            <span>Remove</span>
                                        </a>
                                    </div>
            
                                </div>
                                <div class="shopping-cart-product__item">
                                    <div class="shopping-cart-product__number">
                                        @item.Pricex@item.Count
                                    </div>
                                </div>
                                <div class="shopping-cart-product__item">
                                    <div class="shopping-cart-product__icons">
                                        <div class="shopping-cart-product-icon__plus-and-minus">
                                            <div class="shopping-cart-product-icon__plus">
                                                <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </div>
                                            <div class="shopping-cart-product-icon__minus">
                                                <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-danger">
                                                    <i class="fas fa-minus"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- <div class="shopping-cart-product-icon__remove">
                                                <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-outline-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div> -->
                                    </div>
                                </div>
                                <div class="shopping-cart-product__item">
                                    <div class="shopping-cart-product__btn">
                                        <b>US@item.Price*@item.Count</b>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="shopping-cart__item">
                        <div class="shopping-cart__checkout">
                            <div class="shopping-cart-checkout__header">
                                How you'll pay
                            </div>
                            <div class="shopping-cart-checkout__list-icon">
                                <img class="shopping-cart-checkout__master-card" src="img/mastercard-icon.svg" alt="">
                                <img class="shopping-cart-checkout__visa" src="img/visa-icon.svg" alt="">
                            </div>
                            <div class="shopping-cart-checkout__total">
                                <div class="shopping-cart-checkout__total-items">
                                    @if(@Model.ListCart.Count()>0 || @Model.ListCart.Count()>1){
                                    Total (@Model.ListCart.Count() item)
                                    }
                                    @if(@Model.ListCart.Count()>1{
                                    Total (@Model.ListCart.Count() items)
                                    }
                                </div>
                                <div class="shopping-cart-checkout__total-price">
                                    US$@Model.OrderHeader.OrderTotal
                                </div>
                            </div>
                            <div class="btn-add-to-checkout">
                                <a class="btn-add-to-checkout__text">
                                    Proceed to checkout
                                </a>
                            </div>
                        </div>
                    </div>
            
            
                </div>
            </div>
        }
        }
        else
        {
        <div>There are no items in the shopping cart.</div>
        }
    </form>
</body>

</html>