* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
:root {
  --primary-color: #fc6514;
  --second-color: #b2bec3;
  --empty--color: rgba(255, 255, 255, 0);
  --second--font: "Cairo", sans-serif;
}
body {
  margin: 0;
}
.shopping-cart {
  width: 1024px;
  margin: auto;
}
.shopping-cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.shopping-cart-header__number {
  font-family: var(--second--font);
  font-size: 2rem;
}
.shopping-cart-header__keep-shopping {
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #222222;
}
.shopping-cart-header__keep-shopping::before {
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.7) perspective(1px);
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),
    opacity 150ms ease-out;
  border-radius: 24px;
  z-index: -1;
  background-color: #ededed;
  opacity: 0;
}
.shopping-cart-header__keep-shopping:hover::before {
  opacity: 1;
  transform: scale(1);
  background-color: #ededed;
}

.shopping-cart__main {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-column-gap: 2rem;
}
.shopping-cart__item {
  /* height: 500px; */
  /* background-color: #ccc; */
  box-sizing: border-box;
}

.shopping-cart__product {
  display: grid;
  grid-template-columns: 0.3fr 0.6fr 0.1fr 0.1fr 0.1fr;
  grid-column-gap: 2rem;
  border-top: 1px solid rgba(34, 34, 34, 0.15);
}
.shopping-cart-product__item {
  height: 120px;
  /* background-color: red; */
  margin: 1rem 0 1rem 0;
}
.shopping-cart-product__img {
  height: 100%;
  /* overflow: hidden;
  position: relative; */
}
.shopping-cart-product__img img {
  /* position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  max-width: 100%; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.shopping-cart-product__desc {
  font-size: 0.75rem;
  margin: 0.75rem 0 0.75rem 0;
}
.shopping-cart-product__remove span {
  font-size: 0.85rem;
  font-weight: 700;
}
.shopping-cart-product__icons {
  display: flex;
  justify-content: space-evenly;
}
.shopping-cart-product-icon__plus-and-minus {
  display: flex;
  justify-content: space-between;
}
.shopping-cart-product-icon__plus {
  margin-right: 1rem;
}
.shopping-cart-product__btn {
  display: flex;
  justify-content: flex-end;
}
/* .shopping-cart-product__img img{
  height: 50px;
} */
.shopping-cart__checkout {
  padding: 1rem;
  /* height: 250px; */
  border-radius: 24px;
  /* border: 1px solid red; */
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}
.shopping-cart-checkout__header {
  margin: 0.5rem;
  font-weight: 500;
}
.shopping-cart-checkout__list-icon {
  display: flex;
  margin-bottom: 1rem;
}
.shopping-cart-checkout__list-icon img {
  height: 30px;
}
.shopping-cart-checkout__master-card,
.shopping-cart-checkout__visa {
  margin: 0.5rem 0 0.5rem 0.5rem;
}
.shopping-cart-checkout__total {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(34, 34, 34, 0.15);
}
.btn-add-to-checkout {
  /* width: 100%; */
  height: 46px;
  margin: 0.5rem;
  background: #2f2f2f;
  color: white;
  border-radius: 24px;
  border: none;
  /* transition: transform 0.2s; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 0.2s all ease;
  cursor: pointer;
}

.btn-add-to-checkout::before {
  width: 100%;
  background-color: #000;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 24px;
  z-index: -1;
}
.btn-add-to-checkout:hover::before {
  transform: scale(1.01);
}
.btn-add-to-checkout__text {
  position: absolute;
  font-weight: 500;
}
